language: ruby
bundler_args: --without development
rvm:
  - 1.9.3
  - 2.0.0
  - ruby-head
  - jruby
  - jruby-head
jdk:
  - oraclejdk7
  - openjdk7
env: CI="travis"
services:
  - mongodb
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
