language: ruby
bundler_args: --without development
rvm:
  - 1.9.3
  - 2.0.0
  - jruby
  - jruby-head
  - ruby-head
env: CI="travis"
services:
  - mongodb
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
  fast_finish: true
notifications:
  email: false
  irc:
    on_success: change
    on_failure: always
    channels:
      - "irc.freenode.org#mongoid"
